body{
	background: url('../images/waterfall.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
}
.mainBody{
	margin: 75px 0px 75px 0px;
	background: white;
	height: auto;
}
.alignImage{
	text-align: center;
}
img{
	margin-top: 50px;
	border-radius: 50%;
}
#mainSection{
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	width: 100%;
}
#style{
	padding:50px;
}
#styling{
	margin: 20px;
}
input{
	margin: 20px;
}
nav{
	color:white;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}